# Raspberry Pi 3B+ GPIO-backed 4-wire JTAG adapter for OpenOCD.
# GPIO11 = TCK, GPIO25 = TMS, GPIO10 = TDI, GPIO9 = TDO,
# GPIO7 = nTRST, GPIO18 = nSRST.

adapter driver bcm2835gpio
transport select jtag

adapter gpio tck 11
adapter gpio tms 25
adapter gpio tdi 10
adapter gpio tdo 9
adapter gpio trst 7 -pull-up
adapter gpio srst 18 -pull-up

adapter speed 1000

reset_config trst_and_srst separate trst_push_pull srst_push_pull
